.blog-card {
  padding: 20px 24px;
  margin: 8px 0 16px;
  background-color: #00337c;
  border-radius: 12px;
  .user-wrap {
    display: flex;
    .avatar {
      width: 50px;
      height: auto;
      margin-right: 8px;
      border-radius: 50%;
    }
    .name {
      font-size: 16px;
      font-weight: 600;
    }
    .text-wrap {
      .date {
        font-size: 13px;
        color: #d0d0d0;
      }
    }
  }
  a:hover {
    color: #00d865;
  }
  .title {
    text-transform: capitalize;
  }
  .description {
    margin: 10px 0 14px;
  }
  .avatar {
    width: 50px;
    height: auto;
    margin-right: 8px;
    border-radius: 50%;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 14px;
    .user-wrap {
      width: 230px;
      display: flex;

      .text-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    .right-wrap {
      display: flex;
      align-items: center;
      .readtime {
        width: max-content;
      }
      .bookmark,
      .bookmark:hover {
        transition-duration: 200ms;
      }
      .fa-bookmark {
        color: #00d865;
      }
      .bookmark:hover .fa-bookmark {
        color: #00bd58;
      }
      .fa-solid.fa-bookmark {
        color: #00d865;
      }
    }
  }
}
.author.blog-card {
  border-top: #00bd58 40px solid;
  .user-wrap {
    margin-top: -36px;
    .name {
      margin-top: 21px;
    }
  }
  .follow-button {
    width: 100%;
    margin-top: 8px;
    &.following {
      .label-hover {
        display: none;
      }
      &:hover {
        .label-default {
          display: none;
        }
        .label-hover {
          display: inline;
        }
      }
    }
  }
  .sub-header {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin-top: 12px;
    margin-bottom: 2px;
  }
  .info-wrap {
    margin-bottom: 12px;
  }
  .social-links {
    display: flex;
    align-items: center;
    margin-top: 18px;
    a {
      margin-right: 12px;
      color: #eeeeee;
      &:hover {
        color: #00d865;
      }
    }
    .fa-brands {
      margin-right: 6px;
      font-size: 26px;
    }
  }
}
