.blog-wrap {
  // margin: 0 8px;
  padding: 0;
  .row {
    padding: 0;

  }
  .body {
    blockquote {
      margin: 1em 0;
      padding: 0.25em 1.25em;
      border-left: 4px solid #00d865;
      color: #cfd8dc;
      font-style: italic;
    }
  }
}
