.blog-card {
  padding: 20px;
  margin: 12px;
  background-color: #00337C;
  border-radius: 12px;
  .title {
    text-transform: capitalize;
  }
  .description {
    margin: 10px 0 14px;
  }
  .tags-wrap {
    display: flex;
    margin: 0 -5px;
    .tag {
      margin: 0 5px;
      padding: 3px 10px;
      border-radius: 30px;
    }
    .magenta {
      background-color: #d11bff;
    }
    .green {
      background-color: #00d865;
    }
    .red {
      background-color: #ff1f1f;
    }
  }
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 14px;
    .user-wrap {
      width: 230px;
      display: flex;
      .avatar {
        width: 50px;
        height: auto;
        margin-right: 8px;
        border-radius: 50%;
      }
      .text-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    .right-wrap {
      display: flex;
      align-items: center;
      .readtime {
        width: max-content;
      }
      .bookmark,
      .bookmark:hover {
        transition-duration: 200ms;
      }
      .fa-bookmark {
        color: #f2f2f2;
      }
      .bookmark:hover .fa-bookmark {
        color: #00d865;
      }
      .fa-solid.fa-bookmark {
        color: #00d865;
      }
    }
  }
}
