.container {
  display: flex;
  flex-direction: row;
  .side-nav {
    display: flex;
    flex-direction: column;
    width: 280px;
    margin: 10px -2px;
    .link {
      text-decoration: none;
      font-size: larger;
      padding: 3px;
      margin: 2px;
    }
  }
  .blog-list {
    width: 100%;
  }
  .listings {
    width: 320px;
  }
}
