.navbar-container {
  width: 100%;
  height: 65px;
  background-color: #e6e6e6;
  display: flex;
  justify-content: space-between;
  padding: 8px 14px;
}

.navbar-left-wrap, .navbar-right-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  link {
    height: max-content;
  }
}

.navbar-left-wrap {
  display: flex;
  .logo-wrap {
    
  }
}

.navbar-right-wrap {
  display: flex;
  justify-content: space-between;
  width: 125px;
}
