.red {
  background-color: #ff1f1f;
}
.orange {
  background-color: #d88c00;
}
.yellow {
  background-color: #d6cb00;
}
.green {
  background-color: #00d865;
}
.teal {
  background-color: #00d8b8;
}
.aqua {
  background-color: #00d4d8;
}
.blue {
  background-color: #007ed8;
}
.violet {
  background-color: #1d00d8;
}
.magenta {
  background-color: #d11bff;
}