.red {
  background-color: #ff1f1f;
}
.orange {
  background-color: #d88c00;
}
.yellow {
  background-color: #d6cb00;
}
.green-text {
  color: #00d865;
  text-decoration: none;
}
.green-text:hover {
  color: #00bd58;
}
.green {
  color: #222222;
  background-color: #00d865;
  border: none;
}
.teal {
  background-color: #00d8b8;
}
.aqua {
  background-color: #00d4d8;
}
.blue {
  background-color: #007ed8;
}
.violet {
  background-color: #1d00d8;
}
.magenta {
  background-color: #d11bff;
}
.brown {
  background-color: #9c5932;
}
.black {
  background-color: #222222;
}
.gray {
  background-color: #808080;
}
.white {
  background-color: #fbfbfb;
}
